$extra-small-screen: 420px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
$extra-large-screen: 1920;

.home {
    .hero-section {
        margin-top: 56px; 
        background-color: #f0f0f0;
        height: 100vh;
        display: flex;
    
        .hero-img {
            background-image: url('../../assets/home-hero.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 45%;
            @media (max-width: $small-screen) {
                display: none;
            }
        }
        .hero-container {
            width: 55%;
            background-color: #E24357;
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: white;
            padding: 30px;
            @media (max-width: $small-screen) {
                width: 100%;
                background-image: url('../../assets/home-hero.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
    
            .header-container {
                display: flex;
                align-items: center;
    
                .hero-h1 {
                    font-size: 36px;
                    font-weight: bold;

                    @media (max-width: $small-screen) {
                        font-size: 24px;
                        color: #E24357;
                    }
                }
        
                .head-bar {
                    width: 6px;
                    height: 72px;
                    background-color: white;
                    margin-right: 10px;
                    @media (max-width: $small-screen) {
                        background-color: #E24357;
                        height: 52px;
                    }
                }
            }
            .hero-text {
                color: #E4E4E4;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 18.72px;
                text-transform: uppercase;
                @media (max-width: $medium-screen) {
                    font-size: 28px;
                    letter-spacing: 12px;
                }
                @media (max-width: $small-screen) {
                    font-size: 20px;
                    color: #E24357;
                    letter-spacing: 10px;
                }
            }
            .hero-button {
                border-radius: 53px;
                background: #000;
                color: white;
                width: 192px;
                height: 58px;
    
                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
    }

    .features {
        padding: 32px;
        display: flex;
        justify-content: space-between;
        @media (max-width: $small-screen) {
            padding: 24px 10px;
        }
        
        .feature-container {
            padding: 20px 35px;
            border: 1px solid black;
            display: flex;
            align-items: center;
            @media (max-width: $small-screen) {
                padding: 10px 10px;
            }

            .feature-icon {
                width: 36px;
                height: 24px;
            }

            .feature-text {
                color: #000;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                @media (max-width: $small-screen) {
                    font-size: 12px;
                }
            }
        }
    }

    .collection-section {
        padding: 80px;
        @media (max-width: $small-screen) {
            padding: 60px;
        }
        @media (max-width: $extra-small-screen) {
            padding: 40px;
        }

        .collection-header {
            margin: 10px;
            text-align: center;
        }

        .collections {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            height: 600px;
            column-gap: 50px;
            row-gap: 20px;
            cursor: pointer;
            @media (max-width: $small-screen) {
                height: 400px;
                background-size: contain;
            }
            @media (max-width: $extra-small-screen) {
                height: 200px;
                background-size: contain;
                column-gap: 20px;
            }

            .collection-container {
                &:hover {
                    transform: scale(1.1);
                    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
                }
            }
            
            .men-collection {
                background-image: url('../../assets/mens-category.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                grid-row: span 2;
            }

            .women-collection {
                background-image: url('../../assets/womens-categories.png');
                background-repeat: no-repeat;
                background-size: cover;
                grid-row: span 2;

            }

            .jewelery-collection {
                background-image: url('../../assets/jewellery-category.png');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .electronic-collection {
                background-color: red;
                background-image: url('../../assets/electronic-category.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }

    .highest-rated-product-container {
        padding: 32px;

        .rating-header {
            margin: 10px;
            text-align: center;
        }
    }
}

